.App {
  text-align: center;

}
h2 {
  text-align: center;
  justify-content: space-evenly;
}

.id_div{
  text-align: center;
  justify-content: space-evenly;
}

.App-header {
  font-size: 24px;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

#botonera {
  display: flex;
  justify-content: space-evenly;
}
